
.header{
    background-image: linear-gradient(to bottom right, #1A1A1A, rgb(58, 163, 114));
    padding-top: 36PX;
    padding-bottom: 80PX;
}

.header_2{
    background-image: linear-gradient(to bottom right, #1A1A1A, rgb(85, 148, 49));
    padding-top: 36PX;
    padding-bottom: 80PX;
}

.header_3{
    background-image: linear-gradient(to bottom right, #1A1A1A, rgb(174, 177, 36));
    padding-top: 36PX;
    padding-bottom: 80PX;
}

.header_text{
    font-size: 70px;
    font-weight: bold;
    color: black;
    max-width: 620px;
    line-height: 1;
}

.header_text:hover{
    font-size: 75px;
    transition: 0.5s;
}

.text_1{
    font-weight: bold;
    color: white;
    font-size: 30px;
}